node_modules/
dist/
.expo/
*.db
*.log
.env
.DS_Store

*.keystore
*-service-account*.json
*serviceAccount*.json
.env
.expo


server/sentinella.db
server/sentinella.db-shm
server/sentinella.db-wal
server/q.cjs
server/q.js

server/*.cjs
